.gradle/
build/
**/build/
**/.gradle/
**/gradle/wrapper/gradle-wrapper.jar
/forensics-btmgen/.kotlin/
/forensics-btmgen/logs/
/.idea/dictionaries/project.xml
/.idea/modules.xml
/.idea/modules/forensics-tracing.test.iml
/.idea/modules/forensics-tracing.main.iml
